--
-- PostgreSQL database dump
--

\restrict 098vtcDp9S0dgdvWfy5kLVAsFdVJLPdXD98BCnqihzye0PAVl5ecJxc3xmglS4O

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ApprovalAction; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ApprovalAction" AS ENUM (
    'APPROVED',
    'CORRECT_TEXT',
    'CHANGE_TONE',
    'REGENERATE_IMAGE',
    'CONVERT_TO_VIDEO',
    'POSTPONE',
    'REJECTED'
);


--
-- Name: AuditCategory; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."AuditCategory" AS ENUM (
    'USER_MGMT',
    'COMMISSION',
    'SUBSCRIPTION',
    'LICENSE',
    'SYSTEM'
);


--
-- Name: BillingCycle; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."BillingCycle" AS ENUM (
    'MONTHLY',
    'YEARLY'
);


--
-- Name: CampaignObjective; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."CampaignObjective" AS ENUM (
    'AUTHORITY',
    'TRAFFIC',
    'LEAD_CAPTURE',
    'SALE',
    'COMMUNITY',
    'ENGAGEMENT'
);


--
-- Name: ContentFormat; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ContentFormat" AS ENUM (
    'POST',
    'CAROUSEL',
    'REEL',
    'STORY',
    'AVATAR_VIDEO',
    'HYBRID_MOTION'
);


--
-- Name: CredentialProvider; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."CredentialProvider" AS ENUM (
    'META',
    'TELEGRAM',
    'DISCORD',
    'LLM',
    'IMAGE_GEN',
    'CLOUDINARY',
    'HEYGEN'
);


--
-- Name: DayOfWeek; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."DayOfWeek" AS ENUM (
    'MONDAY',
    'TUESDAY',
    'WEDNESDAY',
    'THURSDAY',
    'FRIDAY',
    'SATURDAY',
    'SUNDAY'
);


--
-- Name: EditorialRunStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."EditorialRunStatus" AS ENUM (
    'PENDING',
    'RESEARCH',
    'STRATEGY',
    'CONTENT',
    'MEDIA',
    'COMPLIANCE',
    'REVIEW',
    'APPROVED',
    'PUBLISHING',
    'PUBLISHED',
    'REJECTED',
    'FAILED',
    'POSTPONED'
);


--
-- Name: InsightType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."InsightType" AS ENUM (
    'BEST_FORMAT',
    'BEST_THEME',
    'BEST_TONE',
    'BEST_HOUR',
    'BEST_CTA',
    'TREND_UP',
    'TREND_DOWN',
    'WEEKLY_SUMMARY',
    'SUGGESTION'
);


--
-- Name: InvitationStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."InvitationStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'EXPIRED',
    'REVOKED'
);


--
-- Name: JobStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."JobStatus" AS ENUM (
    'QUEUED',
    'PROCESSING',
    'COMPLETED',
    'FAILED',
    'RETRYING'
);


--
-- Name: LicenseStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."LicenseStatus" AS ENUM (
    'AVAILABLE',
    'ACTIVATED',
    'EXPIRED',
    'REVOKED'
);


--
-- Name: MediaCategory; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."MediaCategory" AS ENUM (
    'LOGO',
    'PRODUCT',
    'BACKGROUND',
    'PERSONAL',
    'OTHER'
);


--
-- Name: MediaStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."MediaStatus" AS ENUM (
    'PENDING',
    'GENERATING',
    'PROCESSING',
    'READY',
    'FAILED'
);


--
-- Name: MediaType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."MediaType" AS ENUM (
    'IMAGE',
    'CAROUSEL_SLIDE',
    'VIDEO',
    'AVATAR_VIDEO',
    'THUMBNAIL',
    'MOTION_GRAPHIC'
);


--
-- Name: MetricBucket; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."MetricBucket" AS ENUM (
    'H2',
    'H6',
    'H24',
    'H48',
    'D7'
);


--
-- Name: PayoutStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PayoutStatus" AS ENUM (
    'DRAFT',
    'CONFIRMED',
    'PAID',
    'VOIDED'
);


--
-- Name: Platform; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Platform" AS ENUM (
    'INSTAGRAM',
    'FACEBOOK'
);


--
-- Name: PublicationStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PublicationStatus" AS ENUM (
    'QUEUED',
    'PUBLISHING',
    'PUBLISHED',
    'FAILED',
    'RETRYING',
    'NEEDS_MANUAL_ATTENTION'
);


--
-- Name: ReferralStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ReferralStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'PAID',
    'CANCELLED'
);


--
-- Name: SourceType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."SourceType" AS ENUM (
    'RSS',
    'BLOG',
    'NEWSLETTER',
    'SOCIAL',
    'CHANGELOG',
    'CUSTOM'
);


--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'ACTIVE',
    'TRIALING',
    'PAST_DUE',
    'CANCELED',
    'PAUSED'
);


--
-- Name: ThemeType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ThemeType" AS ENUM (
    'TRENDING',
    'EVERGREEN'
);


--
-- Name: UsageMetric; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UsageMetric" AS ENUM (
    'PUBLICATIONS',
    'VIDEOS',
    'AI_GENERATIONS',
    'API_CALLS'
);


--
-- Name: UserCredentialProvider; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserCredentialProvider" AS ENUM (
    'LLM',
    'IMAGE_GEN',
    'RESEARCH',
    'META',
    'DISCORD',
    'CLOUDINARY',
    'GOOGLE_DRIVE',
    'AWS_S3',
    'HEYGEN',
    'TELEGRAM'
);


--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'COLLABORATOR',
    'USER'
);


--
-- Name: WorkspaceRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."WorkspaceRole" AS ENUM (
    'OWNER',
    'EDITOR',
    'VIEWER'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: affiliate_referrals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.affiliate_referrals (
    id text NOT NULL,
    collaborator_id text NOT NULL,
    referred_user_id text NOT NULL,
    referral_code text NOT NULL,
    subscription_id text,
    plan_name text,
    amount_paid integer DEFAULT 0 NOT NULL,
    commission_percent integer DEFAULT 20 NOT NULL,
    commission_amount integer DEFAULT 0 NOT NULL,
    status public."ReferralStatus" DEFAULT 'PENDING'::public."ReferralStatus" NOT NULL,
    payout_id text,
    approved_at timestamp(3) without time zone,
    paid_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: api_credentials; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.api_credentials (
    id text NOT NULL,
    workspace_id text NOT NULL,
    provider public."CredentialProvider" NOT NULL,
    encrypted_key text NOT NULL,
    expires_at timestamp(3) without time zone,
    scopes text[] DEFAULT ARRAY[]::text[],
    is_active boolean DEFAULT true NOT NULL,
    last_used_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: approval_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.approval_events (
    id text NOT NULL,
    editorial_run_id text NOT NULL,
    action public."ApprovalAction" NOT NULL,
    comment text,
    telegram_chat_id text,
    telegram_msg_id text,
    approved_by text,
    version_number integer,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    action text NOT NULL,
    category public."AuditCategory" DEFAULT 'SYSTEM'::public."AuditCategory" NOT NULL,
    performed_by text NOT NULL,
    target_id text,
    target_type text,
    details jsonb,
    ip_address text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: brand_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brand_profiles (
    id text NOT NULL,
    workspace_id text NOT NULL,
    voice text DEFAULT ''::text NOT NULL,
    tone text DEFAULT 'did├íctico'::text NOT NULL,
    allowed_claims text[] DEFAULT ARRAY[]::text[],
    base_cta text DEFAULT ''::text NOT NULL,
    prohibited_topics text[] DEFAULT ARRAY[]::text[],
    hashtags text[] DEFAULT ARRAY[]::text[],
    visual_style jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: campaign_themes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campaign_themes (
    id text NOT NULL,
    campaign_id text NOT NULL,
    theme_id text NOT NULL
);


--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campaigns (
    id text NOT NULL,
    workspace_id text NOT NULL,
    name text NOT NULL,
    objective public."CampaignObjective" NOT NULL,
    offer text,
    landing_url text,
    start_date timestamp(3) without time zone NOT NULL,
    end_date timestamp(3) without time zone,
    kpi_target text,
    content_profile_id text,
    user_persona_id text,
    target_channels text[] DEFAULT ARRAY['instagram'::text],
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: commission_payouts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.commission_payouts (
    id text NOT NULL,
    collaborator_id text NOT NULL,
    total_amount integer DEFAULT 0 NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    referral_count integer DEFAULT 0 NOT NULL,
    method text,
    reference text,
    notes text,
    status public."PayoutStatus" DEFAULT 'DRAFT'::public."PayoutStatus" NOT NULL,
    invoice_number text,
    generated_by text NOT NULL,
    paid_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: content_briefs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.content_briefs (
    id text NOT NULL,
    editorial_run_id text NOT NULL,
    theme_id text,
    angle text DEFAULT ''::text NOT NULL,
    format public."ContentFormat" DEFAULT 'POST'::public."ContentFormat" NOT NULL,
    cta text DEFAULT ''::text NOT NULL,
    "references" text[] DEFAULT ARRAY[]::text[],
    seed_prompt text DEFAULT ''::text NOT NULL,
    objective text DEFAULT ''::text NOT NULL,
    tone text DEFAULT 'did├íctico'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: content_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.content_profiles (
    id text NOT NULL,
    user_id text NOT NULL,
    name text NOT NULL,
    tone text DEFAULT 'did├íctico'::text NOT NULL,
    content_length text DEFAULT 'MEDIUM'::text NOT NULL,
    audience text DEFAULT ''::text NOT NULL,
    language text DEFAULT 'es'::text NOT NULL,
    hashtags text[] DEFAULT ARRAY[]::text[],
    posting_goal text DEFAULT ''::text NOT NULL,
    linked_social_accounts text[] DEFAULT ARRAY[]::text[],
    is_default boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: content_themes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.content_themes (
    id text NOT NULL,
    workspace_id text NOT NULL,
    name text NOT NULL,
    keywords text[] DEFAULT ARRAY[]::text[],
    audience text DEFAULT ''::text NOT NULL,
    priority integer DEFAULT 5 NOT NULL,
    preferred_formats text[] DEFAULT ARRAY['post'::text, 'carousel'::text],
    type public."ThemeType" DEFAULT 'EVERGREEN'::public."ThemeType" NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: content_versions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.content_versions (
    id text NOT NULL,
    brief_id text NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    is_main boolean DEFAULT false NOT NULL,
    hook text DEFAULT ''::text NOT NULL,
    copy text DEFAULT ''::text NOT NULL,
    caption text DEFAULT ''::text NOT NULL,
    title text DEFAULT ''::text NOT NULL,
    hashtags text[] DEFAULT ARRAY[]::text[],
    score double precision,
    human_feedback text,
    llm_prompt_used text,
    is_approved boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: editorial_runs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.editorial_runs (
    id text NOT NULL,
    workspace_id text NOT NULL,
    campaign_id text,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."EditorialRunStatus" DEFAULT 'PENDING'::public."EditorialRunStatus" NOT NULL,
    origin text DEFAULT 'scheduler'::text NOT NULL,
    priority integer DEFAULT 5 NOT NULL,
    error_message text,
    research_summary text,
    publish_window timestamp(3) without time zone,
    target_channels text[] DEFAULT ARRAY['instagram'::text],
    content_profile_id text,
    user_persona_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: email_verification_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.email_verification_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    used_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: invitations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.invitations (
    id text NOT NULL,
    workspace_id text NOT NULL,
    email text NOT NULL,
    role public."WorkspaceRole" DEFAULT 'EDITOR'::public."WorkspaceRole" NOT NULL,
    token text NOT NULL,
    status public."InvitationStatus" DEFAULT 'PENDING'::public."InvitationStatus" NOT NULL,
    invited_by text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    accepted_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: job_queue_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_queue_logs (
    id text NOT NULL,
    editorial_run_id text,
    job_type text NOT NULL,
    queue text DEFAULT 'editorial_jobs'::text NOT NULL,
    status public."JobStatus" DEFAULT 'QUEUED'::public."JobStatus" NOT NULL,
    attempt integer DEFAULT 1 NOT NULL,
    error text,
    latency_ms integer,
    payload jsonb,
    result jsonb,
    started_at timestamp(3) without time zone,
    completed_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: license_keys; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.license_keys (
    id text NOT NULL,
    key text NOT NULL,
    plan_id text NOT NULL,
    duration_days integer DEFAULT 30 NOT NULL,
    status public."LicenseStatus" DEFAULT 'AVAILABLE'::public."LicenseStatus" NOT NULL,
    max_activations integer DEFAULT 1 NOT NULL,
    activation_count integer DEFAULT 0 NOT NULL,
    batch_name text,
    buyer_email text,
    buyer_name text,
    notes text DEFAULT ''::text,
    activated_by text,
    activated_at timestamp(3) without time zone,
    workspace_id text,
    expires_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: media_assets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media_assets (
    id text NOT NULL,
    content_version_id text NOT NULL,
    type public."MediaType" NOT NULL,
    prompt text,
    provider text,
    original_url text,
    optimized_url text,
    thumbnail_url text,
    storage_path text,
    status public."MediaStatus" DEFAULT 'PENDING'::public."MediaStatus" NOT NULL,
    metadata jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: media_folders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media_folders (
    id text NOT NULL,
    user_id text NOT NULL,
    name text NOT NULL,
    parent_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: metric_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.metric_snapshots (
    id text NOT NULL,
    publication_id text NOT NULL,
    bucket public."MetricBucket" NOT NULL,
    likes integer DEFAULT 0 NOT NULL,
    comments integer DEFAULT 0 NOT NULL,
    shares integer DEFAULT 0 NOT NULL,
    saves integer DEFAULT 0 NOT NULL,
    reach integer DEFAULT 0 NOT NULL,
    impressions integer DEFAULT 0 NOT NULL,
    engagement_rate double precision,
    collected_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.password_reset_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    used_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: payment_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payment_logs (
    id text NOT NULL,
    workspace_id text,
    amount integer DEFAULT 0 NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    method text DEFAULT 'manual'::text NOT NULL,
    reference text,
    description text,
    license_key_id text,
    recorded_by text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: performance_insights; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.performance_insights (
    id text NOT NULL,
    workspace_id text NOT NULL,
    type public."InsightType" NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    data jsonb,
    score double precision,
    is_active boolean DEFAULT true NOT NULL,
    generated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone
);


--
-- Name: plans; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.plans (
    id text NOT NULL,
    name text NOT NULL,
    display_name text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    monthly_price integer DEFAULT 0 NOT NULL,
    yearly_price integer DEFAULT 0 NOT NULL,
    max_publications integer DEFAULT 30 NOT NULL,
    max_videos integer DEFAULT 5 NOT NULL,
    max_sources integer DEFAULT 10 NOT NULL,
    max_channels integer DEFAULT 2 NOT NULL,
    max_editors integer DEFAULT 1 NOT NULL,
    max_personas integer DEFAULT 0 NOT NULL,
    max_content_profiles integer DEFAULT 1 NOT NULL,
    max_storage_mb integer DEFAULT 100 NOT NULL,
    max_schedule_slots integer DEFAULT 0 NOT NULL,
    analytics_enabled boolean DEFAULT false NOT NULL,
    ai_scoring_enabled boolean DEFAULT false NOT NULL,
    priority_support boolean DEFAULT false NOT NULL,
    custom_branding boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: publications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.publications (
    id text NOT NULL,
    editorial_run_id text NOT NULL,
    platform public."Platform" NOT NULL,
    external_post_id text,
    permalink text,
    status public."PublicationStatus" DEFAULT 'QUEUED'::public."PublicationStatus" NOT NULL,
    payload_sent jsonb,
    api_response jsonb,
    error_message text,
    retry_count integer DEFAULT 0 NOT NULL,
    published_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    likes integer DEFAULT 0 NOT NULL,
    comments integer DEFAULT 0 NOT NULL,
    shares integer DEFAULT 0 NOT NULL,
    saves integer DEFAULT 0 NOT NULL,
    reach integer DEFAULT 0 NOT NULL,
    impressions integer DEFAULT 0 NOT NULL,
    engagement_rate double precision,
    metrics_updated_at timestamp(3) without time zone
);


--
-- Name: publish_schedules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.publish_schedules (
    id text NOT NULL,
    user_id text NOT NULL,
    content_profile_id text,
    name text DEFAULT 'Mi horario'::text NOT NULL,
    timezone text DEFAULT 'America/Mexico_City'::text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token text NOT NULL,
    family text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    revoked_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: research_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.research_snapshots (
    id text NOT NULL,
    editorial_run_id text NOT NULL,
    title text NOT NULL,
    source text NOT NULL,
    source_url text NOT NULL,
    published_at timestamp(3) without time zone,
    key_points text[] DEFAULT ARRAY[]::text[],
    suggested_angle text,
    relevance_score double precision DEFAULT 0 NOT NULL,
    raw_data_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: research_sources; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.research_sources (
    id text NOT NULL,
    workspace_id text NOT NULL,
    name text NOT NULL,
    type public."SourceType" NOT NULL,
    url text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    last_fetched timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: schedule_slots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.schedule_slots (
    id text NOT NULL,
    schedule_id text NOT NULL,
    day_of_week public."DayOfWeek" NOT NULL,
    "time" text NOT NULL,
    social_account_ids text[] DEFAULT ARRAY[]::text[],
    priority integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subscriptions (
    id text NOT NULL,
    workspace_id text NOT NULL,
    plan_id text NOT NULL,
    status public."SubscriptionStatus" DEFAULT 'ACTIVE'::public."SubscriptionStatus" NOT NULL,
    billing_cycle public."BillingCycle" DEFAULT 'MONTHLY'::public."BillingCycle" NOT NULL,
    paypal_subscription_id text,
    paypal_customer_id text,
    paypal_plan_id text,
    stripe_customer_id text,
    stripe_sub_id text,
    discount_percent integer DEFAULT 0 NOT NULL,
    current_period_start timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    current_period_end timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    cancel_at_period_end boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: telegram_link_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.telegram_link_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    used_at timestamp(3) without time zone
);


--
-- Name: telegram_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.telegram_links (
    id text NOT NULL,
    user_id text NOT NULL,
    chat_id text NOT NULL,
    username text,
    first_name text,
    is_active boolean DEFAULT true NOT NULL,
    linked_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: usage_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usage_records (
    id text NOT NULL,
    workspace_id text NOT NULL,
    metric public."UsageMetric" NOT NULL,
    count integer DEFAULT 0 NOT NULL,
    period_start timestamp(3) without time zone NOT NULL,
    period_end timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: user_credentials; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_credentials (
    id text NOT NULL,
    user_id text NOT NULL,
    provider public."UserCredentialProvider" NOT NULL,
    encrypted_payload text NOT NULL,
    label text,
    is_active boolean DEFAULT true NOT NULL,
    last_tested_at timestamp(3) without time zone,
    last_test_result text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: user_media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_media (
    id text NOT NULL,
    user_id text NOT NULL,
    folder_id text,
    filename text NOT NULL,
    url text NOT NULL,
    thumbnail_url text,
    mime_type text NOT NULL,
    size_bytes integer NOT NULL,
    tags text[] DEFAULT ARRAY[]::text[],
    category public."MediaCategory" DEFAULT 'OTHER'::public."MediaCategory" NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: user_personas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_personas (
    id text NOT NULL,
    user_id text NOT NULL,
    brand_name text DEFAULT ''::text NOT NULL,
    brand_description text DEFAULT ''::text NOT NULL,
    tone text[] DEFAULT ARRAY[]::text[],
    expertise text[] DEFAULT ARRAY[]::text[],
    visual_style text DEFAULT ''::text NOT NULL,
    target_audience text DEFAULT ''::text NOT NULL,
    avoid_topics text[] DEFAULT ARRAY[]::text[],
    language_style text DEFAULT ''::text NOT NULL,
    example_phrases text[] DEFAULT ARRAY[]::text[],
    is_active boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    name text,
    avatar_url text,
    role public."UserRole" DEFAULT 'USER'::public."UserRole" NOT NULL,
    is_blocked boolean DEFAULT false NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    referred_by_code text,
    referral_code text,
    last_login_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: visual_style_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.visual_style_profiles (
    id text NOT NULL,
    user_id text NOT NULL,
    content_profile_id text,
    name text NOT NULL,
    style text DEFAULT 'MINIMALIST'::text NOT NULL,
    color_palette text[] DEFAULT ARRAY[]::text[],
    primary_font text,
    secondary_font text,
    logo_url text,
    preferred_image_provider text DEFAULT 'huggingface'::text NOT NULL,
    custom_prompt_prefix text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: workspace_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workspace_users (
    id text NOT NULL,
    user_id text NOT NULL,
    workspace_id text NOT NULL,
    role public."WorkspaceRole" DEFAULT 'OWNER'::public."WorkspaceRole" NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: workspaces; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workspaces (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    timezone text DEFAULT 'America/Mexico_City'::text NOT NULL,
    logo_url text,
    primary_color text,
    objectives text[] DEFAULT ARRAY[]::text[],
    active_channels text[] DEFAULT ARRAY['instagram'::text, 'facebook'::text],
    onboarding_completed boolean DEFAULT false NOT NULL,
    industry text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Data for Name: affiliate_referrals; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.affiliate_referrals (id, collaborator_id, referred_user_id, referral_code, subscription_id, plan_name, amount_paid, commission_percent, commission_amount, status, payout_id, approved_at, paid_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: api_credentials; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: approval_events; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.approval_events (id, editorial_run_id, action, comment, telegram_chat_id, telegram_msg_id, approved_by, version_number, created_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_logs (id, action, category, performed_by, target_id, target_type, details, ip_address, created_at) FROM stdin;
\.


--
-- Data for Name: brand_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: campaign_themes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.campaign_themes (id, campaign_id, theme_id) FROM stdin;
\.


--
-- Data for Name: campaigns; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.campaigns (id, workspace_id, name, objective, offer, landing_url, start_date, end_date, kpi_target, content_profile_id, user_persona_id, target_channels, is_active, created_at, updated_at) FROM stdin;
camp_default	ws_default	Crecimiento Org├ínico Q1 2026	AUTHORITY	\N	\N	2026-01-01 00:00:00	2026-03-31 00:00:00	1000 seguidores nuevos en 3 meses	\N	\N	{instagram}	t	2026-03-08 04:15:33.524	2026-03-08 04:15:33.524
\.


--
-- Data for Name: commission_payouts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.commission_payouts (id, collaborator_id, total_amount, currency, referral_count, method, reference, notes, status, invoice_number, generated_by, paid_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: content_briefs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.content_briefs (id, editorial_run_id, theme_id, angle, format, cta, "references", seed_prompt, objective, tone, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: content_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.content_profiles (id, user_id, name, tone, content_length, audience, language, hashtags, posting_goal, linked_social_accounts, is_default, created_at, updated_at) FROM stdin;
cp_ai_vanguard	usr_jcg_admin	AI Vanguard Principal	informativo-futurista	MEDIUM	Profesionales tech, developers, emprendedores digitales (25-45)	es	{#IA,#InteligenciaArtificial,#AI,#MachineLearning,#Tech,#Automatizaci├│n,#FuturoIA}	Publicar contenido diario sobre IA: noticias, tutoriales, herramientas y tendencias	{}	t	2026-03-08 04:16:51.542	2026-03-08 04:16:51.542
\.


--
-- Data for Name: content_themes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: content_versions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.content_versions (id, brief_id, version, is_main, hook, copy, caption, title, hashtags, score, human_feedback, llm_prompt_used, is_approved, created_at) FROM stdin;
\.


--
-- Data for Name: editorial_runs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.editorial_runs (id, workspace_id, campaign_id, date, status, origin, priority, error_message, research_summary, publish_window, target_channels, content_profile_id, user_persona_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: email_verification_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.email_verification_tokens (id, user_id, token, expires_at, used_at, created_at) FROM stdin;
\.


--
-- Data for Name: invitations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.invitations (id, workspace_id, email, role, token, status, invited_by, expires_at, accepted_at, created_at) FROM stdin;
\.


--
-- Data for Name: job_queue_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.job_queue_logs (id, editorial_run_id, job_type, queue, status, attempt, error, latency_ms, payload, result, started_at, completed_at, created_at) FROM stdin;
\.


--
-- Data for Name: license_keys; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.license_keys (id, key, plan_id, duration_days, status, max_activations, activation_count, batch_name, buyer_email, buyer_name, notes, activated_by, activated_at, workspace_id, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: media_assets; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.media_assets (id, content_version_id, type, prompt, provider, original_url, optimized_url, thumbnail_url, storage_path, status, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: media_folders; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.media_folders (id, user_id, name, parent_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: metric_snapshots; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.metric_snapshots (id, publication_id, bucket, likes, comments, shares, saves, reach, impressions, engagement_rate, collected_at) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.password_reset_tokens (id, user_id, token, expires_at, used_at, created_at) FROM stdin;
\.


--
-- Data for Name: payment_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_logs (id, workspace_id, amount, currency, method, reference, description, license_key_id, recorded_by, created_at) FROM stdin;
\.


--
-- Data for Name: performance_insights; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.performance_insights (id, workspace_id, type, title, description, data, score, is_active, generated_at, expires_at) FROM stdin;
\.


--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: publications; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.publications (id, editorial_run_id, platform, external_post_id, permalink, status, payload_sent, api_response, error_message, retry_count, published_at, created_at, updated_at, likes, comments, shares, saves, reach, impressions, engagement_rate, metrics_updated_at) FROM stdin;
\.


--
-- Data for Name: publish_schedules; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.publish_schedules (id, user_id, content_profile_id, name, timezone, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: research_snapshots; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.research_snapshots (id, editorial_run_id, title, source, source_url, published_at, key_points, suggested_angle, relevance_score, raw_data_url, created_at) FROM stdin;
\.


--
-- Data for Name: research_sources; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: schedule_slots; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.schedule_slots (id, schedule_id, day_of_week, "time", social_account_ids, priority, created_at) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.subscriptions (id, workspace_id, plan_id, status, billing_cycle, paypal_subscription_id, paypal_customer_id, paypal_plan_id, stripe_customer_id, stripe_sub_id, discount_percent, current_period_start, current_period_end, cancel_at_period_end, created_at, updated_at) FROM stdin;
cmmh8onoe0007fggo7lekipo2	ws_default	plan_pro	ACTIVE	YEARLY	\N	\N	\N	\N	\N	0	2026-03-08 04:15:33.853	2027-03-08 04:15:33.853	f	2026-03-08 04:15:33.854	2026-03-08 04:15:33.854
\.


--
-- Data for Name: telegram_link_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.telegram_link_tokens (id, user_id, token, expires_at, used_at) FROM stdin;
cmmh9tsvr000dfguwx5blbgmi	usr_jcg_admin	B4XdUA	2026-03-08 04:52:33.495	2026-03-08 04:47:48.303
\.


--
-- Data for Name: telegram_links; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.telegram_links (id, user_id, chat_id, username, first_name, is_active, linked_at) FROM stdin;
cmmh9u4ap000ffguwd1hdunhw	usr_jcg_admin	5467882117	shadowscr	JulioG	t	2026-03-08 04:47:48.29
\.


--
-- Data for Name: usage_records; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usage_records (id, workspace_id, metric, count, period_start, period_end, created_at) FROM stdin;
\.


--
-- Data for Name: user_credentials; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_media; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_media (id, user_id, folder_id, filename, url, thumbnail_url, mime_type, size_bytes, tags, category, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: user_personas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, email, password_hash, name, avatar_url, role, is_blocked, email_verified, referred_by_code, referral_code, last_login_at, created_at, updated_at) FROM stdin;
usr_jcg_admin	jcg.software.solution@gmail.com	$2b$12$rnKuVM2MDAd.iMfPOLk9NOcHIgVuWToVRFEPXjvDtIM1w78efl8U.	JCG Admin	\N	ADMIN	f	t	\N	\N	2026-03-08 04:41:49.262	2026-03-08 04:16:51.483	2026-03-08 04:41:49.264
\.


--
-- Data for Name: visual_style_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.visual_style_profiles (id, user_id, content_profile_id, name, style, color_palette, primary_font, secondary_font, logo_url, preferred_image_provider, custom_prompt_prefix, created_at, updated_at) FROM stdin;
vs_futurista_tech	usr_jcg_admin	cp_ai_vanguard	Futurista Tech	FUTURISTIC	{#0f172a,#6366f1,#06b6d4,#f59e0b,#f8fafc}	Space Grotesk	Inter	https://res.cloudinary.com/dyy8hc876/image/upload/v1772941230/ChatGPT_Image_2_mar_2026_02_22_40_u0fv0j.png	huggingface	futuristic tech style, dark background, neon accents, clean modern design	2026-03-08 04:16:51.548	2026-03-08 04:43:37.717
\.


--
-- Data for Name: workspace_users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.workspace_users (id, user_id, workspace_id, role, is_default, created_at) FROM stdin;
cmmh8qbkx0001fgrs3yi0bsmp	usr_jcg_admin	ws_default	OWNER	t	2026-03-08 04:16:51.489
\.


--
-- Data for Name: workspaces; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.workspaces (id, name, slug, timezone, logo_url, primary_color, objectives, active_channels, onboarding_completed, industry, created_at, updated_at) FROM stdin;
ws_default	Mi Workspace	cmmh8ona10000fggormxdhuhm	America/Mexico_City	\N	#6366f1	{autoridad,captaci├│n,tr├ífico,venta}	{instagram,facebook}	f	\N	2026-03-08 04:15:33.337	2026-03-08 04:15:33.337
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: affiliate_referrals affiliate_referrals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.affiliate_referrals
    ADD CONSTRAINT affiliate_referrals_pkey PRIMARY KEY (id);


--
-- Name: api_credentials api_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_credentials
    ADD CONSTRAINT api_credentials_pkey PRIMARY KEY (id);


--
-- Name: approval_events approval_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.approval_events
    ADD CONSTRAINT approval_events_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: brand_profiles brand_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brand_profiles
    ADD CONSTRAINT brand_profiles_pkey PRIMARY KEY (id);


--
-- Name: campaign_themes campaign_themes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_themes
    ADD CONSTRAINT campaign_themes_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: commission_payouts commission_payouts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commission_payouts
    ADD CONSTRAINT commission_payouts_pkey PRIMARY KEY (id);


--
-- Name: content_briefs content_briefs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_briefs
    ADD CONSTRAINT content_briefs_pkey PRIMARY KEY (id);


--
-- Name: content_profiles content_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_profiles
    ADD CONSTRAINT content_profiles_pkey PRIMARY KEY (id);


--
-- Name: content_themes content_themes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_themes
    ADD CONSTRAINT content_themes_pkey PRIMARY KEY (id);


--
-- Name: content_versions content_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_versions
    ADD CONSTRAINT content_versions_pkey PRIMARY KEY (id);


--
-- Name: editorial_runs editorial_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editorial_runs
    ADD CONSTRAINT editorial_runs_pkey PRIMARY KEY (id);


--
-- Name: email_verification_tokens email_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: job_queue_logs job_queue_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_queue_logs
    ADD CONSTRAINT job_queue_logs_pkey PRIMARY KEY (id);


--
-- Name: license_keys license_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.license_keys
    ADD CONSTRAINT license_keys_pkey PRIMARY KEY (id);


--
-- Name: media_assets media_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_assets
    ADD CONSTRAINT media_assets_pkey PRIMARY KEY (id);


--
-- Name: media_folders media_folders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_folders
    ADD CONSTRAINT media_folders_pkey PRIMARY KEY (id);


--
-- Name: metric_snapshots metric_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metric_snapshots
    ADD CONSTRAINT metric_snapshots_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: payment_logs payment_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_logs
    ADD CONSTRAINT payment_logs_pkey PRIMARY KEY (id);


--
-- Name: performance_insights performance_insights_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.performance_insights
    ADD CONSTRAINT performance_insights_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: publications publications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_pkey PRIMARY KEY (id);


--
-- Name: publish_schedules publish_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.publish_schedules
    ADD CONSTRAINT publish_schedules_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: research_snapshots research_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.research_snapshots
    ADD CONSTRAINT research_snapshots_pkey PRIMARY KEY (id);


--
-- Name: research_sources research_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.research_sources
    ADD CONSTRAINT research_sources_pkey PRIMARY KEY (id);


--
-- Name: schedule_slots schedule_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.schedule_slots
    ADD CONSTRAINT schedule_slots_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: telegram_link_tokens telegram_link_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.telegram_link_tokens
    ADD CONSTRAINT telegram_link_tokens_pkey PRIMARY KEY (id);


--
-- Name: telegram_links telegram_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.telegram_links
    ADD CONSTRAINT telegram_links_pkey PRIMARY KEY (id);


--
-- Name: usage_records usage_records_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usage_records
    ADD CONSTRAINT usage_records_pkey PRIMARY KEY (id);


--
-- Name: user_credentials user_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_credentials
    ADD CONSTRAINT user_credentials_pkey PRIMARY KEY (id);


--
-- Name: user_media user_media_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_media
    ADD CONSTRAINT user_media_pkey PRIMARY KEY (id);


--
-- Name: user_personas user_personas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_personas
    ADD CONSTRAINT user_personas_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: visual_style_profiles visual_style_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.visual_style_profiles
    ADD CONSTRAINT visual_style_profiles_pkey PRIMARY KEY (id);


--
-- Name: workspace_users workspace_users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_users
    ADD CONSTRAINT workspace_users_pkey PRIMARY KEY (id);


--
-- Name: workspaces workspaces_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_pkey PRIMARY KEY (id);


--
-- Name: affiliate_referrals_collaborator_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX affiliate_referrals_collaborator_id_idx ON public.affiliate_referrals USING btree (collaborator_id);


--
-- Name: affiliate_referrals_referred_user_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX affiliate_referrals_referred_user_id_key ON public.affiliate_referrals USING btree (referred_user_id);


--
-- Name: affiliate_referrals_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX affiliate_referrals_status_idx ON public.affiliate_referrals USING btree (status);


--
-- Name: api_credentials_workspace_id_provider_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX api_credentials_workspace_id_provider_key ON public.api_credentials USING btree (workspace_id, provider);


--
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- Name: audit_logs_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_created_at_idx ON public.audit_logs USING btree (created_at);


--
-- Name: audit_logs_performed_by_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_performed_by_idx ON public.audit_logs USING btree (performed_by);


--
-- Name: audit_logs_target_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_target_id_idx ON public.audit_logs USING btree (target_id);


--
-- Name: brand_profiles_workspace_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX brand_profiles_workspace_id_key ON public.brand_profiles USING btree (workspace_id);


--
-- Name: campaign_themes_campaign_id_theme_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX campaign_themes_campaign_id_theme_id_key ON public.campaign_themes USING btree (campaign_id, theme_id);


--
-- Name: commission_payouts_collaborator_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX commission_payouts_collaborator_id_idx ON public.commission_payouts USING btree (collaborator_id);


--
-- Name: commission_payouts_invoice_number_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX commission_payouts_invoice_number_key ON public.commission_payouts USING btree (invoice_number);


--
-- Name: commission_payouts_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX commission_payouts_status_idx ON public.commission_payouts USING btree (status);


--
-- Name: content_briefs_editorial_run_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX content_briefs_editorial_run_id_key ON public.content_briefs USING btree (editorial_run_id);


--
-- Name: content_profiles_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX content_profiles_user_id_idx ON public.content_profiles USING btree (user_id);


--
-- Name: email_verification_tokens_token_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX email_verification_tokens_token_idx ON public.email_verification_tokens USING btree (token);


--
-- Name: email_verification_tokens_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX email_verification_tokens_token_key ON public.email_verification_tokens USING btree (token);


--
-- Name: email_verification_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX email_verification_tokens_user_id_idx ON public.email_verification_tokens USING btree (user_id);


--
-- Name: invitations_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX invitations_token_key ON public.invitations USING btree (token);


--
-- Name: invitations_workspace_id_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX invitations_workspace_id_email_key ON public.invitations USING btree (workspace_id, email);


--
-- Name: license_keys_buyer_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX license_keys_buyer_email_idx ON public.license_keys USING btree (buyer_email);


--
-- Name: license_keys_key_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX license_keys_key_key ON public.license_keys USING btree (key);


--
-- Name: license_keys_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX license_keys_status_idx ON public.license_keys USING btree (status);


--
-- Name: media_folders_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_folders_user_id_idx ON public.media_folders USING btree (user_id);


--
-- Name: metric_snapshots_publication_id_bucket_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX metric_snapshots_publication_id_bucket_key ON public.metric_snapshots USING btree (publication_id, bucket);


--
-- Name: password_reset_tokens_token_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX password_reset_tokens_token_idx ON public.password_reset_tokens USING btree (token);


--
-- Name: password_reset_tokens_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX password_reset_tokens_token_key ON public.password_reset_tokens USING btree (token);


--
-- Name: password_reset_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX password_reset_tokens_user_id_idx ON public.password_reset_tokens USING btree (user_id);


--
-- Name: payment_logs_workspace_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payment_logs_workspace_id_idx ON public.payment_logs USING btree (workspace_id);


--
-- Name: plans_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX plans_name_key ON public.plans USING btree (name);


--
-- Name: publish_schedules_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX publish_schedules_user_id_idx ON public.publish_schedules USING btree (user_id);


--
-- Name: refresh_tokens_token_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX refresh_tokens_token_idx ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX refresh_tokens_user_id_idx ON public.refresh_tokens USING btree (user_id);


--
-- Name: schedule_slots_schedule_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX schedule_slots_schedule_id_idx ON public.schedule_slots USING btree (schedule_id);


--
-- Name: subscriptions_workspace_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX subscriptions_workspace_id_key ON public.subscriptions USING btree (workspace_id);


--
-- Name: telegram_link_tokens_token_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX telegram_link_tokens_token_idx ON public.telegram_link_tokens USING btree (token);


--
-- Name: telegram_link_tokens_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX telegram_link_tokens_token_key ON public.telegram_link_tokens USING btree (token);


--
-- Name: telegram_links_chat_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX telegram_links_chat_id_idx ON public.telegram_links USING btree (chat_id);


--
-- Name: telegram_links_user_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX telegram_links_user_id_key ON public.telegram_links USING btree (user_id);


--
-- Name: usage_records_workspace_id_metric_period_start_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX usage_records_workspace_id_metric_period_start_key ON public.usage_records USING btree (workspace_id, metric, period_start);


--
-- Name: user_credentials_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_credentials_user_id_idx ON public.user_credentials USING btree (user_id);


--
-- Name: user_credentials_user_id_provider_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX user_credentials_user_id_provider_key ON public.user_credentials USING btree (user_id, provider);


--
-- Name: user_media_category_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_media_category_idx ON public.user_media USING btree (category);


--
-- Name: user_media_folder_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_media_folder_id_idx ON public.user_media USING btree (folder_id);


--
-- Name: user_media_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_media_user_id_idx ON public.user_media USING btree (user_id);


--
-- Name: user_personas_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_personas_user_id_idx ON public.user_personas USING btree (user_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_referral_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_referral_code_key ON public.users USING btree (referral_code);


--
-- Name: visual_style_profiles_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX visual_style_profiles_user_id_idx ON public.visual_style_profiles USING btree (user_id);


--
-- Name: workspace_users_user_id_workspace_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX workspace_users_user_id_workspace_id_key ON public.workspace_users USING btree (user_id, workspace_id);


--
-- Name: workspaces_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX workspaces_slug_key ON public.workspaces USING btree (slug);


--
-- Name: affiliate_referrals affiliate_referrals_collaborator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.affiliate_referrals
    ADD CONSTRAINT affiliate_referrals_collaborator_id_fkey FOREIGN KEY (collaborator_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: affiliate_referrals affiliate_referrals_payout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.affiliate_referrals
    ADD CONSTRAINT affiliate_referrals_payout_id_fkey FOREIGN KEY (payout_id) REFERENCES public.commission_payouts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: affiliate_referrals affiliate_referrals_referred_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.affiliate_referrals
    ADD CONSTRAINT affiliate_referrals_referred_user_id_fkey FOREIGN KEY (referred_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: api_credentials api_credentials_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_credentials
    ADD CONSTRAINT api_credentials_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: approval_events approval_events_editorial_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.approval_events
    ADD CONSTRAINT approval_events_editorial_run_id_fkey FOREIGN KEY (editorial_run_id) REFERENCES public.editorial_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: brand_profiles brand_profiles_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brand_profiles
    ADD CONSTRAINT brand_profiles_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: campaign_themes campaign_themes_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_themes
    ADD CONSTRAINT campaign_themes_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: campaign_themes campaign_themes_theme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaign_themes
    ADD CONSTRAINT campaign_themes_theme_id_fkey FOREIGN KEY (theme_id) REFERENCES public.content_themes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: campaigns campaigns_content_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_content_profile_id_fkey FOREIGN KEY (content_profile_id) REFERENCES public.content_profiles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: campaigns campaigns_user_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_user_persona_id_fkey FOREIGN KEY (user_persona_id) REFERENCES public.user_personas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: campaigns campaigns_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: commission_payouts commission_payouts_collaborator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.commission_payouts
    ADD CONSTRAINT commission_payouts_collaborator_id_fkey FOREIGN KEY (collaborator_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: content_briefs content_briefs_editorial_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_briefs
    ADD CONSTRAINT content_briefs_editorial_run_id_fkey FOREIGN KEY (editorial_run_id) REFERENCES public.editorial_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: content_briefs content_briefs_theme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_briefs
    ADD CONSTRAINT content_briefs_theme_id_fkey FOREIGN KEY (theme_id) REFERENCES public.content_themes(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: content_profiles content_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_profiles
    ADD CONSTRAINT content_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: content_themes content_themes_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_themes
    ADD CONSTRAINT content_themes_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: content_versions content_versions_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.content_versions
    ADD CONSTRAINT content_versions_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.content_briefs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: editorial_runs editorial_runs_campaign_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editorial_runs
    ADD CONSTRAINT editorial_runs_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: editorial_runs editorial_runs_content_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editorial_runs
    ADD CONSTRAINT editorial_runs_content_profile_id_fkey FOREIGN KEY (content_profile_id) REFERENCES public.content_profiles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: editorial_runs editorial_runs_user_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editorial_runs
    ADD CONSTRAINT editorial_runs_user_persona_id_fkey FOREIGN KEY (user_persona_id) REFERENCES public.user_personas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: editorial_runs editorial_runs_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.editorial_runs
    ADD CONSTRAINT editorial_runs_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: email_verification_tokens email_verification_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invitations invitations_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: job_queue_logs job_queue_logs_editorial_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_queue_logs
    ADD CONSTRAINT job_queue_logs_editorial_run_id_fkey FOREIGN KEY (editorial_run_id) REFERENCES public.editorial_runs(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: license_keys license_keys_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.license_keys
    ADD CONSTRAINT license_keys_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: media_assets media_assets_content_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_assets
    ADD CONSTRAINT media_assets_content_version_id_fkey FOREIGN KEY (content_version_id) REFERENCES public.content_versions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: media_folders media_folders_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_folders
    ADD CONSTRAINT media_folders_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.media_folders(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: media_folders media_folders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_folders
    ADD CONSTRAINT media_folders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: metric_snapshots metric_snapshots_publication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metric_snapshots
    ADD CONSTRAINT metric_snapshots_publication_id_fkey FOREIGN KEY (publication_id) REFERENCES public.publications(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: publications publications_editorial_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_editorial_run_id_fkey FOREIGN KEY (editorial_run_id) REFERENCES public.editorial_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: publish_schedules publish_schedules_content_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.publish_schedules
    ADD CONSTRAINT publish_schedules_content_profile_id_fkey FOREIGN KEY (content_profile_id) REFERENCES public.content_profiles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: publish_schedules publish_schedules_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.publish_schedules
    ADD CONSTRAINT publish_schedules_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: research_snapshots research_snapshots_editorial_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.research_snapshots
    ADD CONSTRAINT research_snapshots_editorial_run_id_fkey FOREIGN KEY (editorial_run_id) REFERENCES public.editorial_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: research_sources research_sources_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.research_sources
    ADD CONSTRAINT research_sources_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: schedule_slots schedule_slots_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.schedule_slots
    ADD CONSTRAINT schedule_slots_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.publish_schedules(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: subscriptions subscriptions_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: telegram_link_tokens telegram_link_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.telegram_link_tokens
    ADD CONSTRAINT telegram_link_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: telegram_links telegram_links_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.telegram_links
    ADD CONSTRAINT telegram_links_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usage_records usage_records_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usage_records
    ADD CONSTRAINT usage_records_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_credentials user_credentials_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_credentials
    ADD CONSTRAINT user_credentials_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_media user_media_folder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_media
    ADD CONSTRAINT user_media_folder_id_fkey FOREIGN KEY (folder_id) REFERENCES public.media_folders(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_media user_media_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_media
    ADD CONSTRAINT user_media_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_personas user_personas_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_personas
    ADD CONSTRAINT user_personas_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: visual_style_profiles visual_style_profiles_content_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.visual_style_profiles
    ADD CONSTRAINT visual_style_profiles_content_profile_id_fkey FOREIGN KEY (content_profile_id) REFERENCES public.content_profiles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: visual_style_profiles visual_style_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.visual_style_profiles
    ADD CONSTRAINT visual_style_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: workspace_users workspace_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_users
    ADD CONSTRAINT workspace_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: workspace_users workspace_users_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_users
    ADD CONSTRAINT workspace_users_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 098vtcDp9S0dgdvWfy5kLVAsFdVJLPdXD98BCnqihzye0PAVl5ecJxc3xmglS4O

